.roomView {
  
  
  
  position: relative;
  margin: 30px;
  
  width: 400px;
  height: 400px;
  background: #FFEBEE;
  border-radius: 10px;
  
  box-shadow: 0px 5px 40px #8c8c8c;
  
  transition: 1s box-shadow;
  
  padding: 20px;
  
  background-image: url(../img/roomViewBackground.jpg);
  background-size: cover;
  
  
  
}

.roomView:hover {
  box-shadow: 0px 5px 40px #d3d7cf;
}

.roomView:hover:before, .roomView:hover:after {
  display: block;
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  background: cyan;
  border-radius: 10px;
  z-index: -1;
  animation: 1s clockwise infinite;
  
  padding: 20px;
}

.roomView:hover:after {
  background: coral;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}