@charset "UTF-8";

.roomView h1{
	padding-top: 150px;
	text-color: white;
	letter-spacing: 1px;
	text-shadow: 0px 1px #8c8c8c;
	color: #FAFAFA;
}

.roomView p{
	
	color: #FAFAFA;
}

.wallViewWallName{
	text-align: center;
}
.wallViewNoteName{
	text-align: left;
}