@charset "UTF-8";

.roomView h1{ 
	padding-top: 150px;
	letter-spacing: 1px;
	text-shadow: 0px 1px #8c8c8c;
	color: #FAFAFA;
}

.roomView h3{

	text-shadow: 0px 1px #8c8c8c;
	color: #FAFAFA;
}

.wallViewWallName{
	
	text-align: left;
	
	
}
.wallViewNoteName{
	text-align: left;
	
}