@charset "UTF-8";


.wallView{
	height: 400px;
	width: 400px;
	box-shadow: 0px 5px 40px #8c8c8c;

	border-radius: 10px;
	
	
	margin: 30px;
	padding: 20px;
		
	transition: 1s box-shadow;
	
	
	
	flex-grow: 1;
	
}
.wallViewContent{
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	height: inherit;
	
} 
.wallViewWallName{
	height: inherit;
	
	overflow-y: hidden; 
	white-space: nowrap;
	scroll-snap-align: center;

	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;

}
.wallViewNoteName{

	margin-top: 30px;
	margin-bottom: 30px; 
	height: 80%;
	width: 45%;

	margin-left: 15px;
	margin-right: 15px;

	display: inline-block;


	scroll-snap-align: center; 
	
	background-color: coral;
	
	box-shadow: 0px 5px 10px #8c8c8c;
	transition: 1s box-shadow;
	
	border-color: coral;
	border-width: 0.5px;
	border-style: solid;
	border-radius: 5px;
}




