@charset "UTF-8";


.wallView{
	height: 400px;
	width: 400px;
	box-shadow: 0px 5px 40px #8c8c8c;
	border-radius: 10px;
	
	
	margin: 30px;
	padding: 20px;
		
	transition: 1s box-shadow;
	
	background-image: url(../img/wallView.jpg);
	background-size: cover;
	
	flex-grow: 1;
	
}
.wallViewContent{
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	height: inherit;
	
} 
.wallViewWallName{
	height: inherit;
	overflow-x: scroll;
	overflow-y: hidden; 
	white-space: nowrap;
	scroll-snap-align: center;
}
.wallViewNoteName{

	margin-top: 15px;
	height: inherit;
	width: 100%;

	display: inline-block;
	
	background-color: coral; 
	border-color: coral;
	border-width: 0.5px;
	border-style: solid;
	border-radius: 5px;
}





