@charset "UTF-8";


.wallView{
	height: 400px;
	box-shadow: 0px 5px 40px #8c8c8c;
	border-radius: 10px;
	padding: 20px;
	
	margin: 30px;
	
	transition: 1s box-shadow;
	
	background-image: url(../img/wallView.jpg);
	background-size: cover;
	
	flex-grow: 1;
}
